// Colors
$origami-theme-blue:				#45C7F2;
$origami-theme-red:					#FC5958;
$origami-theme-orange:				#FFB400;
$origami-theme-purple:				#9b59b6;
$origami-theme-green:				#7FD467;
$origami-theme-yellow:				#f1c40f;

// Theme
$origami-theme-light:				#F4F6F7;
$origami-theme-dark:				#2B3E4D;
$origami-theme-primary:				$origami-theme-blue;
$origami-theme-success:				$origami-theme-green;
$origami-theme-danger:				$origami-theme-red;

// Theme
$origami-theme-lines:				#DBE3E9;
$origami-theme-lines-light:			#EAEEF2;

// Font
$origami-font-family:				'Roboto', sans-serif;
$origami-font-color:				#2B3E4D;
$origami-font-color-semilight:		#7E8D99;
$origami-font-color-light:			#98AEC0;

// Grid
$origami-grid-large:				1150px;
$origami-grid-medium:				750px;
$origami-grid-small:				750px;

// Settings
$origami-desktop-width: 			750px;
$origami-border-radius:				2px;
$origami-sidebar-width:				260px;

// Z-indexes
$origami-zindex-sidebar-overlay:	25;
$origami-zindex-sidebar:			50;
